<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <h1>
            Wlecome!
        </h1>
        <p1>
            I am chitra student at REVA university .I am here to build a simple flask frame work .
        </p1>
        <div class="about">
    <h2>About Me</h2>

    <p><strong>Name:</strong> Chitrashree</p>
    <p><strong>Education:</strong> B.Tech in Computer Science and Information Technology</p>
    <p><strong>Skills:</strong> Python, SQL, HTML, CSS, Flask, Pandas, NumPy, Matplotlib</p>
    <p><strong>Interests:</strong> Data Science, Machine Learning, Web Development, Artificial Intelligence</p>
    <p><strong>Goal:</strong> To build innovative software solutions and continuously learn emerging technologies.</p>
</div>
    </body>
</html>